<div class="flex justify-center items-center mt-10 py-10 px-4 sm:px-6 lg:px-8">
  <div class="border-2 border-gray-800 p-6 bg-white shadow-lg rounded-lg max-w-sm"> 
    <h2 class="text-3xl font-bold text-center text-gray-800">Edit Profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :name, class: "block text-gray-700 font-medium mb-2" %>
        <%= f.text_field :name, value: resource.name, class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="mb-4 mt-2 text-balance" data-controller="user-avatar-uploader">
        <%= f.label :avatar, class: "block text-sm font-medium text-gray-700" %>

        <!-- Display already attached images -->
        <% if resource.avatar.attached? %>
          <div class="mt-2">
            <h4 class="text-gray-700 font-medium">Current Avatar:</h4>
            <div class="grid grid-cols-2 gap-4">
              <div class="relative">
                <%= image_tag resource.avatar.variant(resize_to_limit: [300, 200]), class: "rounded-md shadow-md" %>
                <label class="flex items-center">
                  <%= check_box_tag "user[remove_avatar]", "1", false, class: "ml-2" %>
                  Remove
                </label>
              </div>
            </div>
          </div>
        <% end %>

        <!-- File input for adding new avatar -->
        <%= f.file_field :avatar, class: "mt-2", data: { action: "change->user-avatar-uploader#previewImages", user_avatar_uploader_target: "input"  } %>

        <!-- Preview image will go here -->
        <div data-user-avatar-uploader-target="preview" class="flex flex-wrap mt-2"></div>
      </div>

      <div class="flex items-center justify-end">
        <%= f.submit "Update", class: "bg-green-900 text-white font-semibold py-3 px-6 rounded-lg shadow hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    <% end %>

    <div class="text-center mt-6">
      <%= link_to "Cancel", root_path, class: "text-blue-500 hover:underline" %>
    </div>
  </div>
</div>
