<div class="bg-cream w-full px-4 py-8 min-h-screen">
  <% if notice.present? %>
    <p class="py-2 px-4 bg-green-100 text-green-700 font-medium rounded-lg mb-6" id="notice">
      <%= notice %>
    </p>
  <% end %>
  <% content_for :title, "Topics" %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Topics</h1>
    <%= button_to new_subject_topic_path, method: :get, class: "inline-flex items-center rounded-lg py-3 px-6 bg-green-900 text-white font-semibold shadow-lg hover:bg-green-800 transition-colors" do %>
      <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m7-7H5" />
      </svg>
      New Topic
    <% end %>
  </div>
  <div id="topics" class="flex flex-wrap justify-center gap-6">
    <% @topics.each do |topic| %>
      <div class="w-[400px] h-[200px] bg-white border border-gray-400 shadow-sm rounded-lg overflow-hidden">
      <div dir="rtl">
        <div data-controller="dropdown" class="relative">
          <div class="absolute h-14 w-14 top-0 start-0">
            <button
              type="button"
              data-action="dropdown#toggle click@window->dropdown#hide"
              class="flex items-center justify-center p-2 text-gray-600 hover:text-gray-900"
            >
              <!-- 3 dots for kebab menu -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="5" r="2" />
              <circle cx="12" cy="12" r="2" />
              <circle cx="12" cy="19" r="2" />
            </svg>
            </button>
          </div>
          <!-- Dropdown menu -->
          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-left absolute right-0 mt-2 w-48"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <ul class="bg-white border rounded shadow-lg max-h-48 overflow-y-auto">
              <li>
                <%= link_to "Show this topic", subject_topic_path(@subject, topic), class: "block px-4 py-2 text-gray-800 hover:bg-gray-200", data: { action: "dropdown#toggle" } %>
              </li>
              <li>
                <%= link_to "Edit this topic", edit_subject_topic_path(@subject, topic), class: "block px-4 py-2 text-gray-800 hover:bg-gray-200", data: { action: "dropdown#toggle" } %>
              </li>
              <li>
                <%= form_with url: subject_topic_path(@subject, topic), method: :delete, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200" do %>
                  <%= submit_tag "Delete this topic",  data: { action: "dropdown#toggle" } %>
                <% end %>
              </li>
              <li>
                <%= link_to "Show Lessons", subject_topic_lessons_path(@subject, topic, @lesson), class: "block px-4 py-2 text-gray-800 hover:bg-gray-200", data: { action: "dropdown#toggle" } %>
              </li>
              <li>
                <%= link_to "Add New Lesson", new_subject_topic_lesson_path(@subject, topic), class: "block px-4 py-2 text-gray-800 hover:bg-gray-200", data: { action: "dropdown#toggle" } %>
              </li>
              <li>
                <%= link_to "Back to Subjects", subjects_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-200", data: { action: "dropdown#toggle" } %>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <%= render topic %>
        <!-- list of lessons for topics -->
        <div class="flex justify-around items-center p-4 border-t border-gray-300">
          <% if topic.lessons.present? %>
            <ul class="list-none">
              <% topic.lessons.first(3).each do |lesson| %>
                <li id="<%= dom_id lesson %>" >
                  <%= link_to lesson.title.capitalize, subject_topic_lesson_path(@subject, topic, lesson), class: "text-green-900 hover:text-green-800" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-gray-600">No lessons available for this topic.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to Subjects", subjects_path(@subject), class: "mt-10 inline-block rounded-lg py-2 px-4 bg-gray-200 text-gray-800 font-medium shadow hover:bg-gray-200 transition-colors" %>
</div>
