
<div class="container">
  <h1>Welcome to the Study Project</h1>
  <div class="modules">
    <div class="module">
      <%= image_tag 'https://images.unsplash.com/photo-1509869175650-a1d97972541a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw2ODc0OTQ1fHxlbnwwfHx8fHw%3D', alt: 'Science' %>
      <div class="overlay">
        <div class="submodules">
          <%= link_to 'Maths', '#' %>
          <%= link_to 'Physics', '#' %>
        </div>
      </div>
    </div>
      <div class="module">
        <%= image_tag 'https://plus.unsplash.com/premium_photo-1663047291494-b29cb4f0df9d?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bGFuZ3VhZ2VzfGVufDB8fDB8fHww', alt: 'Languages' %>
          <div class="overlay">
            <div class="submodules">
              <%= link_to 'English', home_index_path %>
              <%= link_to 'Polish', '#' %>
              <%= link_to 'Italian', '#' %>
            </div>
          </div>
      </div>
        <div class="module">
          <%= image_tag 'https://images.unsplash.com/photo-1544822688-c5f41d2c1972?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJvb2tzfGVufDB8fDB8fHww', alt: 'Literature' %>
            <div class="overlay">
              <div class="submodules">
                <%= link_to 'Reccommendations', '#' %>
                <%= link_to 'Review/Notes', '#' %>
              </div>
            </div>
        </div>
        <div class="module">
          <%= image_tag 'https://images.unsplash.com/photo-1470019693664-1d202d2c0907?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG11c2ljfGVufDB8fDB8fHww', alt: 'Music' %>
            <div class="overlay">
              <div class="submodules">
                <%= link_to 'Music', '#' %>
              </div>
            </div>
        </div>
        <div class="module">
          <%= image_tag 'https://images.unsplash.com/photo-1499591934245-40b55745b905?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlbGxpbmd8ZW58MHx8MHx8fDA%3D', alt: 'Travelling' %>
            <div class="overlay">
              <div class="submodules">
                <%= link_to 'Submodule 5.1', '#' %>
                <%= link_to 'Submodule 5.2', '#' %>
              </div>
            </div>
        </div>
        <div class="module">
          <%= image_tag 'https://plus.unsplash.com/premium_photo-1706548911842-7162d4bd2c98?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdhbGxlcnl8ZW58MHx8MHx8fDA%3D', alt: 'Art' %>
            <div class="overlay">
              <div class="submodules">
                <%= link_to 'Art', '#' %>
              </div>
            </div>
        </div>
        <div class="module">
          <%= image_tag 'https://images.unsplash.com/photo-1609345635744-a58486ce86cd?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aGFydmFyZHxlbnwwfHwwfHx8MA%3D%3D', alt: 'Lectures' %>
            <div class="overlay">
              <div class="submodules">
                <%= link_to 'Harvard lectures', 'https://www.youtube.com/watch?v=kBdfcR-8hEY&list=PL30C13C91CFFEFEA6' %>
                <%= link_to 'TED talk', 'https://www.youtube.com/@TEDx' %>
                <%= link_to 'Podcasts', 'https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=1333552422' %>
              </div>
            </div>
        </div>
             <div class="module">
          <%= image_tag 'https://media.istockphoto.com/id/1200976782/photo/final-piece-of-puzzle-solution.webp?b=1&s=170667a&w=0&k=20&c=gXgTx5PcI9rFysXzgouYfxNFabrhIhA12vtE7GcfxTM=', alt: 'New' %>
            <div class="overlay">
              <div class="submodules"> 
                <%= link_to 'Create new', topics_path %>
              </div>
            </div>
        </div>
    </div>
</div>


