<div class='mt-5 w-full max-w-4xl mx-auto my-auto p-6 bg-white shadow-md rounded-lg' >
<%= render "open_ai/ai_section"%>

<%= form_with(model: [@subject, @topic, @lesson], turbo: true, class: 'mt-5 w-full max-w-6xl mx-auto my-auto p-6 bg-white shadow-md rounded-lg') do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: 'block text-gray-700 font-medium mb-2' %>
    <%= form.text_field :title, class: 'w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500', required: true %>
  </div>

  <div class="mb-4 mt-2" data-controller="trix-file-validator">
    <%= form.label :lesson_content, class: "block text-sm font-medium text-gray-700" %>
    <%= form.rich_text_area :body, class: "trix-content text-left mt-1 block w-full min-h-64 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>

  <div class="mb-4 mt-5">
    <%= form.label :tags, class: 'block text-gray-700 font-medium mb-2'%>
    <%= form.select :tag_ids, Tag.all.map { |tag| ["#{tag.name}", tag.id] }, {}, { multiple: true, class: 'w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500', data: { controller: "slim-select" } } %>
  </div>

  <div class="flex items-center justify-end mt-5">
    <%= form.submit 'Save', class: 'bg-green-900 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
  </div>
<% end %>
</div>
