    <%= button_to new_subject_topic_lesson_path(@subject, @topic), method: :get, class: "mt-10 mb-5 inline-flex rounded-lg py-3 px-6 bg-green-900 text-white font-semibold shadow-lg hover:bg-green-800 transition-colors" do %>
      <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m7-7H5" />
      </svg>
      New Lesson
    <% end %>


<div class="mt-10 mx-auto md:w-2/3 w-full bg-white rounded-lg shadow-md">
  <% if notice.present? %>
    <p class="py-2 px-4 bg-green-100 text-green-800 font-medium rounded-lg mb-6" id="notice">
      <%= notice %>
    </p>
  <% end %>
  <div class="flex flex-col space-y-4 border border-gray-400 rounded-lg p-6">
    <h1 class="text-2xl font-bold text-gray-800"><%= @lesson.title %></h1>
    <p class="text-gray-700"><%= h auto_link(simple_format(@lesson.content), html: { class: 'no-underline hover:underline text-green-800' }) %>
    </p>
  </div>
  <div class="flex justify-around items-center p-4 border-t border-gray-300">
    <%= link_to "Edit this lesson", edit_subject_topic_lesson_path(@subject, @topic, @lesson), class: "inline-flex ml-0 px-4 py-2 bg-gray-300 text-gray-800 font-semibold rounded-lg shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" %>
    <div class="inline-flex">
      <%= button_to "Delete this lesson", subject_topic_lesson_path(@subject, @topic, @lesson), method: :delete, data: { confirm: "Are you sure?" }, class: "subject-card-link" %>
    </div>
    <%= link_to "Back to lessons", subject_topic_lessons_path(@subject, @topic), class: "inline-flex mr-0 px-4 py-2 bg-gray-300 text-gray-800 font-semibold rounded-lg shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" %>
  </div>
  </div>
</div>

