<div data-controller="open-ai" >
  <div>
    <button type="button"  
      data-action="click->open-ai#toggleGenerateOutput"
      class="flex items-center bg-gray-100 rounded-full dark:bg-gray-600 px-4 py-2">
      <%= inline_svg("icon_svg/chat_gpt.svg") %>
      <span class="ml-2 text-gray-900 dark:text-white font-medium">AI Helper</span>
    </button>
  </div>
  <div id="generate-output" class="hidden flex flex-col mt-4 space-y-4">
    <%= form_with url: (@lesson.persisted? ? generate_content_subject_topic_lesson_path(@subject, @topic, @lesson) : generate_content_subject_topic_lessons_path(@subject, @topic)), scope: 'generate_content', method: :post, data: { turbo: true }, class: "flex flex-col space-y-2" do |form| %>
      <%= form.text_field :user_prompt, placeholder: "Enter content prompt", 
          class: "border border-gray-300 rounded-lg px-3 py-2 w-full", required: true %>
      <%= form.submit "Generate Content", 
          class: "bg-gray-800 text-gray-900 text-white font-medium rounded-lg px-3 py-2" %>
    <% end %>
  </div>

    <%= turbo_frame_tag :ai_output_error do %>
      <%= render 'open_ai/ai_output_error' %>
    <% end %>

    <%= turbo_frame_tag :ai_output do %>
      <%= render 'open_ai/ai_output' %>
    <% end %>

  </div>
</div>


