<!DOCTYPE html>
<html>
  <head>
    <title>StudyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/slim-select@latest/dist/slimselect.css" />
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <% if notice.present? %>
      <div class="notice" role="alert">
        <%= notice %>
    <% end %>
    
    <% if alert.present? %>
      <div class="alert" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
